<a href="https://colab.research.google.com/github/skysy8210/Lets-get-it-Python-Lecture/blob/main/3%EC%9E%A5_(%EC%8B%A4%EC%8A%B5%EC%9A%A9)_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 변수


> 변수이름 = 저장할 데이터


<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/%E1%84%87%E1%85%A7%E1%86%AB%E1%84%89%E1%85%AE%E1%84%8B%E1%85%B5%E1%84%86%E1%85%B5%E1%84%8C%E1%85%B5.png?raw=true' width =500>

In [5]:
a=10
print(a)

10

### 변수를 활용하여 연산하기 
1) 과일 가격 계산하기

In [53]:
# 사과 3개, 바나나1개, 키위2개 구매한 가격은?
a_cnt=int(input('사과를 몇개 구매하였습니까?'))
b_cnt=int(input('바나나를 몇개 구매하였습니까?'))
k_cnt=int(input('키위를 몇개 구매하였습니까?'))
price=a_cnt*1000+b_cnt*2000+k_cnt*5000
print(price)

사과를 몇개 구매하였습니까?3
바나나를 몇개 구매하였습니까?4
키위를 몇개 구매하였습니까?5
36000

vip는 20% 할인된다. 동일한 물건을 구매했을 때 vip가 내는 가격을 새로운 변수에 저장하여 출력하기

In [55]:
vip=price*0.8
print(vip, '원 입니다.')

28800.0 원 입니다.

2) 1년마다 키가 10cm씩 자라는 농구선수가 있다. 


*   2017년 - 175.5cm
*   2018년 - 185.5cm
*   2019년 - 195.5cm
*   2020년 - 205.5cm


년도별 농구선수의 키를 출력해보자

In [21]:
year=2017
height=175.5
print(year, '-', height,'cm')
year=year+1
height=height+10
print(year, '-', height,'cm')
year+=1
height+=10
print(year, '-', height,'cm')
year+=1
height+=10
print(year, '-', height,'cm')

2017 - 175.5 cm
2018 - 185.5 cm
2019 - 195.5 cm
2020 - 205.5 cm

> 동일한 변수를 증가/감소시킬 때

```
# a에 3을 더하시오
a = a+3
```

```
# 간략하게 표현
a += 3
```

In [22]:
a=3
print(a)
a+=3
print(a)

3
6

> 입력받아 저장하기

In [25]:
year=input('몇년도 입니까?')
print(year, '년 입니다.')

몇년도 입니까?2022
2022 년 입니다.

# 2. 데이터타입

> 정수 int

> 실수 float

> 문자 str

In [26]:
num=20
print(type(num))

<class 'int'>

In [27]:
num=21.0
print(type(num))

<class 'float'>

In [28]:
word='안녕'
print(type(word))

<class 'str'>

# 3. 데이터타입 변경하기
변경하려는 데이터타입으로 감싸주기

> 정수로 변경하기
<br/> int(변수)

> 실수로 변경하기
<br/> float(변수)

> 문자로 변경하기
<br/> str(변수)

In [33]:
# 정수를 실수로 
score=79
score=float(score)
print(score)

79.0

In [39]:
# 실수를 문자로
score=80.5
score=str(score)
score_2=75.2
score_2=str(score_2)
print(score+score_2)
print(type(score), type(score_2))

80.575.2
<class 'str'> <class 'str'>

In [40]:
#문자를 실수로
a='90.2'
a=float(a)
b='89'
b=int(b)

179.2

# 4. 원의 둘레, 넓이, 구의 겉넓이, 부피 구하기

<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/%EC%9B%90%20%EA%B4%80%EB%A0%A8%20%EA%B3%B5%EC%8B%9D.png?raw=true' width = 300>

In [46]:
p=3.141592
r=int(input('반지름의 길이는? :'))

반지름의 길이는? :999

실습 : 반지름을 입력받아서, 입력받은 반지름을 갖는 원의 둘레, 넓이, 구 겉넓이, 부피를 구하시오

In [47]:
result_1=p*r*2
print(result_1)

6276.900816

In [49]:
result_2=p*r**2
print(result_2)

3135311.9575920003

In [51]:
result_3=p*r**2*4
print(result_3)

12541247.830368001

윗 줄의 r과 아랫줄의 r은 동일하므로 두 줄을 한 줄로 줄여서 표현하기


```
r = input('반지름은? ')
r = int(r)
type(r)
```

In [52]:
r=int(input('반지름은?'))
print(type(r))

반지름은?2
<class 'int'>

In [56]:
b='45'
print(float(b)*3)

135.0

In [63]:
k_score=int(input('국어 점수는?'))
m_score=int(input('수학 점수는?'))
e_score=int(input('영어 점수는?'))
print('최종 점수는',k_score*0.16+m_score*0.34+e_score*0.23, '입니다!')

국어 점수는?80
수학 점수는?60
영어 점수는?93
최종 점수는 54.59 입니다!