<a href="https://colab.research.google.com/github/skysy8210/Lets-get-it-Python-Lecture/blob/main/6%EC%9E%A5_(%EC%8B%A4%EC%8A%B5%EC%9A%A9)_%EB%A6%AC%EC%8A%A4%ED%8A%B8_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  1. 리스트

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```

> 실생활의 리스트 
    
<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/56_%EC%82%AC%EC%95%BC%ED%95%A0%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width=150>

</br>
</br>

> 파이썬의 리스트

<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B0%9C%EB%85%90.png?raw=true' width=600>

In [ ]:
# 1월 지출부터 6월 지출까지 리스트로 만들기
spending_6mon=[25, 36, 8, 53, 24, 56]

### 리스트와 인덱스
<img src ='https://github.com/teacher-jiejie/allinone_AI/blob/images/7_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width =700>

In [ ]:
# 1월 지출은?
spending_6mon[0]

In [ ]:
# 6월 지출은?
spending_6mon[5]

In [ ]:
# 3월 지출은?
spending_6mon[2]

알고보니 4월 지출이 10낮게 기록됐다. 4월 지출에 10을 더하시오

In [ ]:
spending_6mon=[25, 36, 8, 53, 24, 56]
spending_6mon[3]+=10

5월 지출을 2로 나누시오

In [ ]:
spending_6mon=[25, 36, 8, 53, 24, 56]
spending_6mon[4]%=2

### 마이너스 인덱스

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/8_%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%A7%88%EC%9D%B4%EB%84%88%EC%8A%A4%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width=500>

#  2.  리스트의 다양한 기능

### 리스트 길이 확인 
> len(리스트이름)

### 리스트에 데이터 추가하기

> 리스트이름.append(데이터)  



```
food = ['피자','치킨','떡볶이','스테이크','파스타']
```

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
# 감자칩 추가
food.append('감자칩')

In [ ]:
# 카레 추가
food.append('카레')

### 빈 리스트 만들고 데이터 추가하기

In [ ]:
# 해야할 일을 저장하는 리스트 to_do

In [17]:
# 해야할 일을 입력받아 to_do에 저장하기
to_do=[]
for i in range(3):
  li_input=input('할말 입력하세요!')
  to_do.append(li_input)
  print(to_do)

할말 입력하세요!가
['가']
할말 입력하세요!나
['가', '나']
할말 입력하세요!다
['가', '나', '다']

### 리스트 슬라이싱


> 리스트[시작숫자 : 종료숫자]

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/9_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.png?raw=true' width=500>


종료숫자-1 까지 잘라내는 것

```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱
abc[4:9]       # abc[4]~abc[8]까지 슬라이싱
```




```
food = ['피자','치킨','떡볶이','스테이크','파스타']
```

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']

In [2]:
# 떡볶이, 스테이크만 골라내기
food = ['피자','치킨','떡볶이','스테이크','파스타']
print(food[2:4])

['떡볶이', '스테이크']

In [3]:
# 처음부터 스테이크까지 골라내기
food = ['피자','치킨','떡볶이','스테이크','파스타']
print(food[:4])

['피자', '치킨', '떡볶이', '스테이크']

In [ ]:
# 뒤에서 n개 데이터 슬라이싱
food = ['피자','치킨','떡볶이','스테이크','파스타']
print(food[-n:]

### 문자열 슬라이싱

In [ ]:
str=['나는야','슈니','서울여대']

In [14]:
str=['나는야','슈니','서울여대']
print(str[:])

['나는야', '슈니', '서울여대']

In [13]:
str=['나는야','슈니','서울여대']
print(str[2:])

['서울여대']

In [12]:
str=['나는야','슈니','서울여대']
print(str[1:3])

['슈니', '서울여대']

### split()으로 문자열 슬라이싱

In [ ]:
a='나는야 우주최강'

In [18]:
# 공백을 기준으로 split
a='나는야 우주최강'
print(a.split())

['나는야', '우주최강']

In [23]:
# 0을 기준으로 split
to_date='2022-04-08'
print(to_date.split('0'))

['2', '22-', '4-', '8']

In [24]:
# -을 기준으로 split
to_date='2022-04-08'
print(to_date.split('-'))

['2022', '04', '08']

In [ ]:
# split의 결과는 리스트이므로 인덱스 사용 가능

In [ ]:
# split의 결과는 문자이므로 숫자로 변환해야 함


실습
```
date = '2021-01-25'
```

위 date에서 월(month)만 골라내 숫자형태로 변수 mon에 저장하시오.

In [ ]:

# 월만 골라내기

위 date에서 일(day)만 숫자 형태로 골라내 변수에 저장하시오.

In [ ]:
# 일만 골라내기

# 3. 리스트와 제어구조

### 1) for a in data 에서 data에 리스트를 넣을 때

다음 spend의 모든 원소를 차례대로 출력하시오 


```
spend = [43, 12, 65, 67, 23, 12]
```

In [ ]:
spend = [43, 12, 65, 67, 23, 12]

In [28]:
# 50이상 쓴 금액을 출력하시오
spend = [43, 12, 65, 67, 23, 12]
for i in spend:
  if i>=50:
    print(i)

65
67



### 2) for a in data 에서 data에 range()를 넣을 때

In [ ]:
# 인덱스를 활용하고 싶을 때 range()
spend = [43, 12, 65, 67, 23, 12]
for i in range(3):

In [ ]:
# 인덱스는 0부터 시작

In [ ]:
# len() 활용하기

In [ ]:
# range()가 0부터 시작하면 생략 가능

# 4. 이차원 리스트

<img src ='https://github.com/teacher-jiejie/allinone_AI/blob/images/14_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width = 700>

In [29]:
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
type(abc)

list

In [30]:
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(abc[0])

[1, 2, 3]

In [32]:
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(abc[1])

[4, 5, 6]

In [31]:
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(abc[2])

[7, 8, 9]

## 이차원 리스트의 인덱스

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/15_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width = 700>

In [34]:
# 1 출력하기
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(abc[0][0])

1

이차원 리스트 abc에서 인덱스를 활용해 다음 숫자를 출력하시오

In [35]:
# 6 출력하기
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(abc[1][2])

6

In [36]:
# 8 출력하기
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(abc[2][1])

8

## 반복문과 이차원 리스트

> 이차원리스트 반복 원리

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/16_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%B0%98%EB%B3%B5%EA%B5%AC%EC%A1%B0.png?raw=true' width=800>

In [41]:
# 모든 줄의 첫번째 데이터만 출력
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in abc:
  print(i[0])

1
4
7

In [40]:
# 모든 줄의 마지막 데이터(세번째 열)만 출력
abc=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in abc:
  print(i[-1])

3
6
9

# 5. 올림픽 데이터

<img src= 'https://github.com/teacher-jiejie/allinone_AI/blob/images/17_%EC%98%AC%EB%A6%BC%ED%94%BD.png?raw=true' width=500>



```
data =[
       [1,'미국',46,37,38,121],
       [2,'영국',27,23,17,67],
       [3,'중국',26,18,26,70],
       [4,'러시아',19,18,19,56],
       [5,'독일',17,10,15,42],
       [6,'일본',12,8,21,41],
       [7,'프랑스',10,18,14,42],
       [8,'대한민국',9,3,9,21] 
       ]
```

In [42]:
data=[1,'미국',46,37,38,121],[2,'영국',27,23,17,67],[3,'중국',26,18,26,70],[4,'러시아',19,18,19,56],[5,'독일',17,10,15,42],[6,'일본',12,8,21,41],[7,'프랑스',10,18,14,42],[8,'대한민국',9,3,9,21] 
print(len(data))

8

In [59]:
# 순위권에 든 모든 국가를 출력하시오
data=[1,'미국',46,37,38,121],[2,'영국',27,23,17,67],[3,'중국',26,18,26,70],[4,'러시아',19,18,19,56],[5,'독일',17,10,15,42],[6,'일본',12,8,21,41],[7,'프랑스',10,18,14,42],[8,'대한민국',9,3,9,21]
for i in data:
  print(i[1:2])

['미국']
['영국']
['중국']
['러시아']
['독일']
['일본']
['프랑스']
['대한민국']

In [52]:
# 금메달보다 은메달 개수가 많은 나라를 출력하시오
data=[1,'미국',46,37,38,121],[2,'영국',27,23,17,67],[3,'중국',26,18,26,70],[4,'러시아',19,18,19,56],[5,'독일',17,10,15,42],[6,'일본',12,8,21,41],[7,'프랑스',10,18,14,42],[8,'대한민국',9,3,9,21]
for row in data:
  if row[2]<row[3]:
    print(row[1])

프랑스

In [58]:
# 금메달보다 동메달 개수가 많은 나라를 출력하시오
data=[1,'미국',46,37,38,121],[2,'영국',27,23,17,67],[3,'중국',26,18,26,70],[4,'러시아',19,18,19,56],[5,'독일',17,10,15,42],[6,'일본',12,8,21,41],[7,'프랑스',10,18,14,42],[8,'대한민국',9,3,9,21]
for row in data:
  if row[2]<row[4]:
    print(row[1:2])

['일본']
['프랑스']

In [55]:
# 모든 나라의 금메달 합을 구하시오
data=[1,'미국',46,37,38,121],[2,'영국',27,23,17,67],[3,'중국',26,18,26,70],[4,'러시아',19,18,19,56],[5,'독일',17,10,15,42],[6,'일본',12,8,21,41],[7,'프랑스',10,18,14,42],[8,'대한민국',9,3,9,21]
total_gold=0
for row in data:
  total_gold+=row[2]
print(total_gold)

166